.App {
  text-align: center;
}

.App-header {
/* background-color: conic-gradient(from -1.38deg at 69.06% 37.26%, #813772 0deg, #B82601 76.88deg, #062F4F 180deg, #813772 360deg); */
  border: 1px solid #000000;
  background: conic-gradient(from -1.38deg at 69.06% 37.26%, #813772 0deg, #B82601 76.88deg, #062F4F 180deg, #813772 360deg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
