@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css?family=DM+Sans');

.slogan {
  font-size: small;
}
.br {
  margin-top: -30px; 
  margin-bottom: -30px;
  font-size: x-large;
}
.tldr {
  font-family: 'DM Sans';
}
.bgcolor {
  background-color: #1E1E1E;
  color: #1E1E1E;
}

.bg-is-inherited {
     background-color: inherit!important
}

.App-header {
/* background-color: conic-gradient(from -1.38deg at 69.06% 37.26%, #813772 0deg, #B82601 76.88deg, #062F4F 180deg, #813772 360deg); */
  border: 1px solid #000000;
  background: conic-gradient(from -1.38deg at 69.06% 37.26%, #813772 0deg, #B82601 76.88deg, #062F4F 180deg, #813772 360deg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tagline {
  text-align: center;
}

.content {
  text-align: center;
}

.input {
  size: small;
}